@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "DMSerif-Italic";
    src: url("/Fonts/DMSerifDisplay-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "DMSerif-Regular";
    src: url("/Fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@theme {
    --font-serif: "DMSerif-Italic", serif;
    --font-DMSerif: "DMSerif-Regular", serif;
}

body {
  font-family: "Poppins", sans-serif;
}
body,html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

@layer base{
  main{
    @apply bg-black text-amber-50;

    #Navbar{
      @apply relative w-full;
      nav{
        @apply fixed top-6 w-full px-4.5 z-40 h-12 flex md:flex-row flex-col items-center justify-between bg-yellow-800;

        .links{
          @apply flex gap-3.5;
        }
      }
    }

    #Hero{
      @apply relative h-screen w-screen flex flex-col justify-center;

      .hero-container{
        @apply flex flex-col z-30;

        .title{
          @apply md:text-8xl text-5xl text-center font-DMSerif font-bold space-x-1.5;
        }

        .sub-titles{
          @apply flex justify-between md:flex-row flex-col px-16 w-[80%] mt-52 mx-auto;

          h2{
            @apply text-amber-200 text-3xl font-bold font-DMSerif;
          }
          a{
            @apply text-sm underline hover:text-amber-200;
          }
        }
      }
      video{
        @apply bg-[#00000045] absolute w-full h-full md:object-cover md:object-top object-bottom object-center object-fill left-0 bottom-0;
      }
    }
    #SubHero{
      @apply relative mt-48 h-dvh w-dvw z-30;

      .subhero-container{
        @apply flex md:flex-row flex-col justify-between items-center w-[80%] mx-auto;
      }
    }
    #About{
      @apply w-screen pt-46;
      .about-container{
        @apply flex flex-col;

        .title1{
          @apply flex md:justify-around md:flex-row flex-col w-[90%] mx-auto;

          .heading{
            @apply text-3xl w-full font-bold font-DMSerif mb-2.5;
          }
        }
        .title2{
          @apply md:w-1/4 w-1/2;
        }

        img{
          @apply h-56 w-full rounded-2xl cursor-pointer hover:bg-[#00000084] hover:p-0.5 transition-all delay-150 bg-contain;
        }
        h2{
          @apply text-sm;
          span{
            @apply text-4xl font-bold;
          }
        }
      }
    }
  }
}